xml version=1.0 encoding=utf-8
configuration
  packageSources
    clear 
    add key=newFeed value=httpspkgs.dev.azure.comkhanda4ClassLibraryProjects_packagingnewFeednugetv3index.json 
  packageSources
  packageSourceCredentials
    newFeed
      add key=Username value=khanda4 
      add key=Password value=8IE41SBvRJLJ67hyPonLqoX5X4uZx37vN1usj2CG4DSfN3hPhfDDJQQJ99BDACAAAAAnPw96AAASAZDO1Xkt 
    newFeed
  packageSourceCredentials
configuration
